form(action='/publisher' method='POST' class='mb-4')
  .mb-3
    label.form-label(for='publisherName') Add New Publisher:
    input.form-control(type='text' name='publisherName' required)
  button.btn.btn-success(type='submit') Add Publisher
