form(action=`/publisher` method='POST')
    label(for="publisherName") 
        input(type='text' name='publisherName' id='publisherName' placeholder='Add new publisher.')
    input(type="hidden" value=game.id name='gameId')
    button(type='submit') Add new publisher