extends layout

block content
  .container.text-center
    h2.mt-5.text-danger Oh no, something went wrong!
    if error && error.message
      p.lead= error.message
    else
      p.lead An unexpected error has occurred.
    p.mt-4 To get back to the main menu, please
    a.btn.btn-primary.mt-3(href='/') Click here
