form(action="/", method="GET")
    label(for="title") Title: 
        input(type="text" name='title')
    label(for="publisher") Choose a publisher:
        select(name='publisher' id='publisher')
            option(value="") --Please choose a publisher--
            each publisher of publishers 
                option(value=publisher.id) #{publisher.name}    
    label(for="category") Choose genre: 
        select(name="category" id='category')
            option(value="") --Please choose a category--
            each category of categories
                option(value=category.id) #{category.genre}

    button(type='submit') Search